body {
    margin: 0;
    padding: 0;
    background: url('./component/bgqu.jpg') no-repeat center center fixed;
    background-size: cover;
  }

  .mainC{
    text-align: center;  
    display: flex;
    flex-direction: column;  
    gap: 25px;

  }

  .Head {
        font-size: xx-large;
        font-style: italic;
        color: red;
  }

    .card {
   
        height: 300px;
        width : 400px;
        margin-left: 560px;
        border: 5px solid aliceblue;

        border-radius: 40px;
    }

    .btn {
        width: 200px;
        margin-left:  659px;
        cursor: pointer;
        border:  2px solid aliceblue;
        color: red;
        background-color: pink;
        border-radius: 20px;

    }

    .Answer {
        display: flex;
        justify-content: center;
        margin-top: 100px;
        color: red;
        font-size: xx-large;

    }
